.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#green {
  grid-column: 1 / span 3;
}

#blue {
  grid-area: 2 / 3 / 4;
}

#yellow ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#red {
  grid-area: 2/2;
}

#red ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#orange {
  grid-column: 1 / span 2;
}
